<%= form_with model:@goal, local: true do |f| %>
  <%= image_tag @goal.image.variant(resize: '500x500'), class: 'goal-image' if @goal.image.attached? %>
 <div class='goal-form'>
  <h1>新規目標</h1>
    <div class='goal-form__field'>
      <div class='goal-form__field--left'>
        <%= f.label :title, "目標", class: 'goal-form__label'%>
      </div>
      <div class='goal-form__field--right'>
        <%= f.text_field :title, class: 'goal-form__input', placeholder: '目標を入力してください'%>
      </div>
    </div>
    <div class='goal-form__field'>
      <div class='goal-form__field--left'>
        <%= f.label :content, "内容", class: 'goal-form__label'%>
      </div>
      <div class='goal-form__field--right'>
        <%= f.text_field :content, class: 'goal-form__input', placeholder: '目標の内容を入力してください'%>
      </div>
    </div>
    <div class='goal-form__field'>
      <div class='goal-form__field--left'>
        <%= f.label :deadline, "期限", class: 'goal-form__label'%>
      </div>
      <div class='goal-form__field--right'>
        <%= f.text_field :deadline, class: 'goal-form__input', placeholder: '期限を入力してください'%>
      </div>
    </div>
    <div class="main-footer">
      <input class="form-message">
        <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
        </label>
        <%= f.submit class: 'goal-form__action-btn'%>
    </div>
 </div>
<% end %>

