<div class="goal-show">
  <div class="goal-box">
    <div class="goal-img-content">
      <%= image_tag @goal.image, class:"goal-box-img" %>
    </div>
    <div class="goal-detail">
      <div class="goal-title">
        <%= @goal.title %>
      </div>
      <div class="goal-content">
        <%= @goal.content %>
      </div>
      <div class="deadline">
        <%= @goal.deadline %>
      </div>
    </div>

    <% if user_signed_in? && current_user.id == @goal.user_id %>
      <%= link_to '編集', edit_goal_path, method: :get, class: "goal-red-btn" %> 
      <p class='or-text'>or</p>
      <%= link_to '削除', goal_path, method: :delete, class:"goal-red-btn" %> 
    <% end %>

  </div>
</div>


    